header {
  width: 100%;
  padding: 0 0.25em;
  background-color: mediumblue;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1{
  display: flex;
  text-align: center;
}

main {
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

footer {
  width: 100%;
  background-color: mediumblue;
  color: aliceblue;
  display: flex;
  place-content: center;
  align-items: center;
}

.item{
  width: 300px;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
  background-color: #eee;
}

.item input[type="checkbox"]{
  text-align: center;
  width: 48px;
  min-width: 48px;
  height: 48px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.item input[type="checkbox"]:focus +label{
  text-decoration: underline;
}

.item > label{
  font-size: 0.75rem;
  flex-grow: 1;
}

.item svg{
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: steelblue;
  cursor: pointer;
}

.item svg:focus,
.item svg:hover{
  color: red;
  outline: none;
}

.searchForm{
  width: 300px;
}


.add-itm-btn:hover,
.add-itm-btn:active{
  background-color: #efefef;
}
